<div class="mx-auto lg:max-w-lg sm:max-w-full px-2 py-5 sm:px-6 lg:px-8">
  <div class="">
    <h1 class="text-3xl font-medium tracking-tight text-gray-900">Your Account</h1>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="my-6">
        <p class="font-semibold">Personal Info</p>
        <div class="mb-3">
          <%= f.text_field :name, autofocus: false, class: 'form-input', placeholder: "Full name" %>
        </div>
        <div class="mb-3">
          <%= f.email_field :email, class: 'form-input', placeholder: 'Email Address' %>
        </div>
        <div class="my-6">
          <p class="font-semibold">Avatar image</p>
          <div class="mb-3">
            <%= image_tag avatar_path(f.object), class: "rounded-lg border shadow-md d-block my-3 border-gray-200" %>
            <%= f.label :avatar, class: "form-label" do %>
              <span class="sr-only">Choose profile photo</span>
              <%= f.file_field :avatar, accept:'image/*', class: "form-input file:cursor-pointer
              file:mr-4 file:py-2 file:px-4
              file:rounded-full file:border-0
              file:text-sm file:font-semibold
              file:bg-slate-100 file:text-green-700
              hover:file:bg-violet-100
            "%>
            <% end %>
          </div>
        </div>
      </div>
      <div class="my-6">
        <p class="font-semibold">Password</p>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div class="alert alert-warning">Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>
        <div class="mb-3">
          <%= f.password_field :password, autocomplete: "off", class: 'form-input', placeholder: 'New Password'  %>
          <p class="text-gray-400 text-sm py-2">Leave password blank if you don't want to change it</p>
        </div>
        <div class="mb-3">
          <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-input', placeholder: 'Confirm Password'  %>
        </div>
        <div class="mb-3">
          <%= f.password_field :current_password, autocomplete: "off", class: 'form-input', placeholder: 'Current Password'  %>
          <p class="text-gray-400 text-sm py-2">We need your current password to confirm your changes</p>
        </div>
        <div class="mb-3 flex justify-between">
          <%= f.submit "Save Changes", class: 'form-button' %>
          <%= link_to "Deactivate my account", registration_path(resource_name), class: "form-button-danger", data: { confirm: "Are you sure? You cannot undo this." }, method: :delete %>
        </div>
      </div>
    <% end %>
  </div>
</div>
